body {
  margin: 0;
}

h1,
h2 {
  font-family: "Lato", sans-serif;
}

p,
a,
ul,
li {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-cards__title {
  grid-area: title;
  text-align: center;
}

.recipe-cards__ingredients {
  grid-area: ingredients;
}

.recipe-cards__image {
  grid-area: image;
  object-fit: contain;
  width: 20vw;
  justify-self: center;
}

.recipe-cards__description {
  grid-area: description;
}

.recipe-cards {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title"
    "ingredients . image image"
    "ingredients . image image"
    "description description description description"
    "description description description description";

  background-color: beige;
}

.hidden {
  display: none;
}

#see-more {
  position: fixed;
  bottom: 0;
  margin: auto;
}
